@import "tailwindcss";

:root {
  color: #fff;
  background: #fff;
  font-family: sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
}

@font-face {
  font-family: font1;
  src: url(../public/fonts/Lausanne-300.woff2);
}
@font-face {
  font-family: font2;
  src: url(../public/fonts/Lausanne-500.woff2);
}